@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 d-none d-xl-block" style="max-height: 100vh; overflow-y: auto;">
                <ul class="list-group px-0 border-bottom">
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/1.jpg" width="30" height="30" class="rounded-circle" alt="">
                            <h6 class="text-white mx-2">Cavid Hesenov</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/-XF4FQcre_i.png" width="30" height="30" class="rounded-circle"
                                 alt="">
                            <h6 class="text-white mx-2">Arkadaslarini Bul</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex px-2 py-3">
                            <img src="~/assets/img/group.png" width="40" height="40" class="rounded-circle"
                                 alt="">
                            <div class="box">
                                <h6 class="text-white mx-2">Gruplar</h6>
                                <p class="mx-2 my-0"><i class="fas fa-circle"></i> 4 yeni</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/marketplace.png" width="30" height="30" class="rounded-circle"
                                 alt="">
                            <h6 class="text-white mx-2">MarketPlace</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/watch.png" width="30" height="30" class="rounded-circle"
                                 alt="">
                            <div class="box">
                                <h6 class="text-white mx-2">Watch</h6>
                                <p class="mx-2 my-0"><i class="fas fa-circle"></i> 9+ yeni video</p>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/clock.png" width="30" height="30" class="rounded-circle"
                                 alt="">
                            <h6 class="text-white mx-2">Anilar</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <i class="special-circle fas fa-chevron-down"></i>
                            <h6 class="text-white mx-2">Daha Fazlasini Gor</h6>
                        </a>
                    </li>
                </ul>

                <ul class="list-group px-0 ">
                    <h4 class="text-muted my-3">Kisayollarim</h4>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/chicken.jpg" width="30" height="30" class="rounded-circle"
                                 alt="">
                            <h6 class="text-white mx-2">Orxan</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/dragon.png" width="30" height="30" class="rounded-circle"
                                 alt="">
                            <h6 class="text-white mx-2">Dragon City</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex px-2 py-3">
                            <img src="~/assets/img/angry-birds.png" width="40" height="40" class="rounded-circle"
                                 alt="">
                            <h6 class="text-white mx-2">Angry Birds Friends</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/basketball.png" width="30" height="30" class="rounded-circle"
                                 alt="">
                            <h6 class="text-white mx-2">Basketball Stars</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <img src="~/assets/img/candy-crash.png" width="30" height="30" class="rounded-circle"
                                 alt="">
                            <h6 class="text-white mx-2">Candy Crash Soda Saga</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-9 col-xl-6" style="max-height: 100vh; overflow-y: auto;">
                <div class="story">
                    <div class="d-flex align-items-center border-bottom">
                        <a href="" class="story-image">
                            <img src="~/assets/img/avatar.jpg" alt="profile" width="50" height="50"
                                 class="rounded-circle" />
                        </a>
                        <a class="btn w-100 openStoryWindow">
                            <input type="text" placeholder="Ne dusunuyorsun, Orxan?" class="rounded-pill w-100 m-3 p-2 border-0" />
                        </a>
                    </div>
                    <ul class="d-flex justify-content-around p-0 my-3">
                        <li>
                            <a href="" class="d-flex p-3 align-items-center rounded">
                                <i class="fas fa-images text-success mx-2"></i>
                                <p class="text-white my-0 mx-2">Fotograf/video</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="d-flex p-3 align-items-center rounded">
                                <i class="fas fa-user-tag text-primary"></i>
                                <p class="text-white my-0 mx-2">Fotograf/video</p>
                            </a>
                        </li>
                    </ul>
                </div>

                @foreach (var story in Model.Stories)
                {
            <div class="story my-3">
                <div class="story-header d-flex align-items-center">
                    <img class="rounded-circle" src="~/assets/img/@story.User.Profile" width="50" height="50" alt="profile" />
                    <div class="mx-2">
                        <h6 class="text-white">
                            @story.User.UserName
                            @if (story.Emotion != null)
                            {
                                <span class="text-muted">
                                    is
                                    <img src="~/assets/img/emotions/@story.Emotion.Icon" width="20" height="20" class="emotion-icon" /> feeling @story.Emotion.Text
                                </span>
                            }

                        </h6>
                        <a href="" class="text-muted">@*Danny L Baker*@</a>
                        <a href="" class="text-muted">@story.CreatedDate.ToString("dd MMMM, HH:mm")</a>
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="story-text my-2">
                    <p class="text-white">@story.Header</p>
                </div>
                @if (story.Share != null && story.Share.Image != null)
                {
                    <div class="story-image">
                        <img src="~/assets/img/@story.Share.Image" class="w-100 mt-3" alt="image" />
                    </div>
                }
                else if (story.Image != null)
                {
                    <div class="story-image">
                        <img src="~/assets/img/@story.Image" class="w-100 my-3" alt="image" />
                    </div>
                }

                @if (story.Share != null)
                {
                    <div class="story-orginal mb-4 border border-top-0 rounded px-3">
                        <div class="story-orginal-header pt-2">
                            <h5 class="text-white">@story.Share.User.UserName</h5>
                            <p class="text-muted">@story.Share.CreatedDate.ToString("MMMM dd at hh:mm tt")</p>
                        </div>
                        <div class="story-orginal-text">
                            <p class="px-3 text-white border-start border-secondary">
                                @story.Share.Header
                            </p>
                        </div>
                    </div>
                }
                <div class="story-details">
                    <div class="d-flex justify-content-between user-impressions">
                        <a href="" class="likeCount"><i class="fas fa-thumbs-up"></i> <span class="text-hover-underline text-muted">@story.Likes?.Count()</span></a>
                        <div class="comment-count d-flex">
                            <a href="" class="text-muted">508 Yorum</a>
                            <a href="" class="text-muted text-hover-underline shareCount mx-1">@story.ShareCount Shares</a>
                        </div>
                    </div>
                </div>
                <div class="story-footer my-3">
                    <ul class="row">
                        <li class="col-4">
                            <a href="" data-story-id="@story.Id" data-user-id="@Model.User.Id" class="btn @(story.Likes.Exists(l=>l.UserId == Model.User.Id)?"text-primary":"text-muted") text-center like">
                                <i class="@(story.Likes.Exists(l=>l.UserId == story.User.Id)?"fas":"far") fa-thumbs-up"></i>Begen
                            </a>
                        </li>
                        <li class="col-4">
                            <a href="" class="text-muted d-block text-center">
                                <i class="fas fa-comment-dots"></i> Yorum Yap
                            </a>
                        </li>
                        <li class="col-4">
                            <a href="" data-story-id="@story.Id" class="btn @(Model.User.Stories.Exists(s=>s.ShareId == story.Id)?"text-primary":"text-muted") text-center share">
                                <i class="fas fa-share"></i>Paylas
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
                }
            </div>

            <div class="col-3 d-none d-lg-block" style="max-height: 100vh; overflow-y: auto;">
                <ul id="sponsor" class="">
                    <li>
                        <img src="" alt="">
                    </li>
                    <li></li>
                </ul>

                <ul class="p-0" id="suggests">
                    @foreach (var suggest in Model.User.Suggests)
                    {
                        <li>
                            <div class="border border-light rounded px-2 py-3">
                                <p class="text-white"><img src="~/assets/img/-XF4FQcre_i.png" width="25" height="25" class="rounded-circle" alt=""> Arkadaslik istekleri</p>
                                <div class="d-flex align-items-center">
                                    <img src="~/assets/img/@suggest.Sender.Profile" width="75" height="75" class="rounded-circle" alt="profile" />
                                    <div class="mx-2">
                                        <div class="d-flex justify-content-between w-100">
                                            <p class="text-white">@suggest.Sender.FirstName @suggest.Sender.LastName</p>
                                            <p class="text-muted">@(((DateTime.Now - suggest.CreatedDate).Days > 0) ? (suggest.CreatedDate.ToString("dd.MM.yyyy")):(suggest.CreatedDate.ToString("HH:mm")))</p>
                                        </div>
                                        <div class="d-flex w-100">
                                            <a id="accept" data-id="@suggest.Sender.Id" class="btn px-4 me-2 btn-primary">Onayla</a>
                                            <a id="regret" data-id="@suggest.Sender.Id" class="btn px-4 ms-2 btn-secondary">Sil</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>

                <ul id="friends" class="list-group px-0 ">
                    <h4 class="text-muted my-3">Kisiler</h4>
                    @foreach (var friend in Model.User.Friends)
                    {
                        <li class="list-group-item bg-transparent p-0 border-0">
                            <a id="openChat" data-id="@friend.Friend.Id" class="btn option rounded d-flex align-items-center px-2 py-3">
                                <div class="position-relative">
                                    <img src="~/assets/img/@friend.Friend.Profile" width="40" height="40" class="rounded-circle"
                                         alt="">
                                    <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                        <span class="visually-hidden">New alerts</span>
                                    </span>
                                </div>
                                <h6 class="text-white mx-2">@friend.Friend.FirstName @friend.Friend.LastName</h6>
                            </a>
                        </li>
                    }
                </ul>

                <ul id="group-talking" class="list-group px-0 ">
                    <h4 class="text-muted my-3">Grup konuşmaları</h4>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <div class="position-relative">
                                <img src="~/assets/img/chicken.jpg" width="40" height="40" class="rounded-circle"
                                     alt="">
                                <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </div>
                            <h6 class="text-white mx-2">Celal</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <div class="position-relative">
                                <img src="~/assets/img/chicken.jpg" width="40" height="40" class="rounded-circle"
                                     alt="">
                                <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </div>
                            <h6 class="text-white mx-2">Celal,Orxan,Cavid</h6>
                        </a>
                    </li>
                    <li class="list-group-item bg-transparent p-0 border-0">
                        <a href="" class="option rounded d-flex align-items-center px-2 py-3">
                            <div class="position-relative">
                                <img src="~/assets/img/chicken.jpg" width="40" height="40" class="rounded-circle"
                                     alt="">
                                <span class="position-absolute bottom-0 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </div>
                            <h6 class="text-white mx-2">Nihad,Farid ve digerleri</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


@await Component.InvokeAsync("Story")

@await Component.InvokeAsync("Behavior");


<!-- Cover Edit -->
<!--<div class="modal" id="coverImage">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title">Kapak Resmini Güncelle</h5>
                <a class="cover-operations btn btn-outline-light"><i class="fas fa-times"></i></a>
            </div>
            <form enctype="multipart/form-data" method="post">
                <div class="modal-body" id="editprofile">
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <label>
                                <input asp-for="SearchedUser.CoverPhoto" hidden class="form-control" />
                                <a class="btn btn-outline-success"><i class="fas fa-image"></i></a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button asp-controller="Profile" asp-action="EditCoverImage" asp-route-id="" type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary cover-operations">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>-->
